<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:ilme="http://www.ilmeyu.cn/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.ilmeyu.cn/schema/beans http://www.ilmeyu.cn/schema/beans.xsd"
       default-autowire="byType"
>
	
	<bean id="arrayList" class="java.util.ArrayList" name="list,array">
		<constructor-arg>
			<list>
				<value>foo</value>
				<value>bar</value>
			</list>
		</constructor-arg>
	</bean>
	
	<bean id="hashSet" class="java.util.HashSet">
		<constructor-arg>
			<list>
				<value>foo</value>
				<value>bar</value>
			</list>
		</constructor-arg>
	</bean>
	
	<ilme:user id="20086" email="www.123@ilme.cn" userName="ilme" />
	
	<ilme:phone id="100" color="金色" size="20" remark="苹果"/>
	
	<bean class="cn.ilmeyu.learn.spring.bean.beans.IgnoreInterfaceImpl" />
	
</beans>